html {
  overflow-y: scroll;
}
article > main a {
  font-weight: 500;
}
.navbar-blur {
  background: $primary;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .navbar-blur {
    background: rgba($primary, 0.7);
    backdrop-filter: blur(20px);
  }
}
.intro {
    text-align: center;
    padding-top: 5vh;
    & h1 {
      font-size: 3rem;
      margin: 0;
      padding: 0.5vh;
      line-height: 1;
      font-weight: 800;
    }
    & p {
      line-height: 1.5;
      font-size: 1.5rem;
    }
  }
  @media (min-width: 992px) { 
    .intro {
        text-align: left;
        padding-top: 20vh;
        padding-bottom:10vh;
    & h1 {
      font-size: 5rem;
    }
    & p {
      font-size: 2.5rem;
    }
    }
  }
  .navbar-brand {
    text-transform: uppercase;
    font-weight: 800;
  }
  .avatar {
    border-radius: 50%;
  }
  .site-main {
min-height: calc(90vh - 60px);
  }