$blue:    #214154;
$white: #ffffff;
$gray-600: #ced1d2;
$dark: darken($blue, 10%);

$enable-rounded: false;
$enable-deprecation-messages: false;

$body-bg:                   $blue;
$body-color:                $white;
$headings-font-weight: 700;

$link-color:                              $gray-600;
$link-decoration:                 underline;

$font-family-sans-serif:      "Inter", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       monospace;

$navbar-dark-color:           $gray-600;
$navbar-dark-hover-color:    darken($navbar-dark-color, 5%);